@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
body {
  font-family: "Lobster", cursive;
  background-color: #8bc6ec;
  background-image: linear-gradient(90deg, #8bc6ec 0%, #9599e2 100%);
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  padding-top: 200px;
  width: 500px;
  height: auto;
}
.grid div {
  margin: 0;
  padding: 0;
}

.imgcont1 {
  background-image: url("/assets/gandalf.jpg");
  background-position: 15% 0%;
}
.imgcont2 {
  background-image: url("/assets/gandalf.jpg");
  background-position: 40% 0%;
}
.imgcont3 {
  background-image: url("/assets/gandalf.jpg");
  background-position: 65% 0;
}
.imgcont4 {
  background-image: url("/assets/gandalf.jpg");
  background-position: 90% 0;
}
.imgcont5 {
  background-image: url("/assets/gandalf.jpg");
  background-position: 15% 35%;
}
.imgcont6 {
  background-image: url("/assets/gandalf.jpg");
  background-position: 40% 35%;
}
.imgcont7 {
  background-image: url("/assets/gandalf.jpg");
  background-position: 65% 35%;
}
.imgcont8 {
  background-image: url("/assets/gandalf.jpg");
  background-position: 90% 35%;
}
.imgcont9 {
  background-image: url("/assets/gandalf.jpg");
  background-position: 15% 65%;
}
.imgcont10 {
  background-image: url("/assets/gandalf.jpg");
  background-position: 40% 65%;
}
.imgcont11 {
  background-image: url("/assets/gandalf.jpg");
  background-position: 65% 65%;
}
.imgcont12 {
  background-image: url("/assets/gandalf.jpg");
  background-position: 90% 65%;
}
.imgcont13 {
  background-image: url("/assets/gandalf.jpg");
  background-position: 15% 99%;
}
.imgcont14 {
  background-image: url("/assets/gandalf.jpg");
  background-position: 40% 99%;
}
.imgcont15 {
  background-image: url("/assets/gandalf.jpg");
  background-position: 65% 99%;
}
.imgcont16 {
  background-color: white;
  color: black !important;
}

.grid .tiles {
  flex: 1 0 20%;
  margin: 1px;
  padding: 0%;
  width: 150px;
  height: 150px;
  box-shadow: 0 2px 6px black;
  color: white;
}
.guia {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  height: 100px;
}
.img p {
  font-size: 20px;
  margin-left: 25px;
}
.img img {
  width: 200px;
  height: auto;
}
.movimientos {
  margin-top: 20px;
  font-size: 30px;
  background: #ba324f;
  border-radius: 20px;
  padding: 15px;
  border: solid 2px;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Boton {
  margin-left: 47.5%;
  margin-top: 2%;
  text-decoration: none;
  font-weight: bolder;
  font-size: 30px;
  color: white;
  background-color: #ba324f;
  border-radius: 15px;
  border: 2px solid;
  outline: none;
  cursor: pointer;
}
.Boton:hover {
  color: #ba324f;
  background-color: white;
}
