html, body {
    margin: 0;
    height: 100%;
    background-color: #6C3483;
    font-family: Chilanka, Helvetica, sans-serif;
  }

h1 {
    font-size: 5em;
    color: #DAF7A6;
    text-align: center;
  }

button {
    background-color: #FFC300;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
}

.puzzle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  .fila-1, .fila-2, .fila-3 {
    display: table-row;
  }

  .caja-puzzle-1, .caja-puzzle-2, .caja-puzzle-3, .caja-puzzle-4, .caja-puzzle-5, .caja-puzzle-6, .caja-puzzle-7, .caja-puzzle-8, .caja-puzzle-9 {
    display: table-cell;
    width: 150px;
    height: 150px;
    border: 1px solid #DAF7A6;
    background: url('picpuz.jpg');
    background-size: 450px;
    cursor: move;
  }

  .caja-puzzle-1 {
    background-position: left top;
  }
  .caja-puzzle-2 {
    background-position: center top;
  }
  .caja-puzzle-3 {
    background-position: right top;
  }
  .caja-puzzle-4 {
    background-position: left center;
  }
  .caja-puzzle-5 {
    background-position: center center;
  }
  .caja-puzzle-6 {
    background-position: right center;
  }
  .caja-puzzle-7 {
    background-position: left bottom;
  }
  .caja-puzzle-8 {
    background-position: center bottom;
  }
  .caja-puzzle-9 {
    background: #900C3F;
  }