body {
  background-color: var(--c-black);
}
#conteiner {
  line-height: 0;
  left: 25%;
  background-color: white;
}

#img {
  background-image: url("");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 70%;
  width: 100%;
}
#moves {
  margin: auto;
  font-size: 3rem;
  top: 42%;
  position: absolute;
  left: 42%;
}
